import Foundation
import CoreData

@objc({{NAME}})
public class {{NAME}}: NSManagedObject {
    @nonobjc public class func fetchRequest() -> NSFetchRequest<{{NAME}}> {
        return NSFetchRequest<{{NAME}}>(entityName: "{{NAME}}")
    }

{{PROPERTIES}}
}

extension {{NAME}}: Identifiable {}
